/*
seletor {
  propriedade: valor;
}

seletores:
por nome de elemento/tag
por classe
por id
*/

h1 {
  color: white;
  background-color: blue;
}

.fundo-verde {
  background-color: green;
  color: yellow;
}

#cor-texto {
  color: white;
}

a {
  background-color: orange;
  color: black;


  font-size: 20px;

  font-family: cursive;

  font-weight: 100;

  line-height: 35px;

}

img {

  width: 150px;

  height: 250px;

}

/* a[href="https://kenzie.com.br/"] {

  background-color: blue;

} */

em{

  display: inline-block;

  background-color: yellow;

  color: black;

  width: 100%;

}
  
